<div class="inbox-container">

  <div class="left-inbox-container">
    <div class="search-bar-box">
      <p class="search-bar-inner">Search</p>
    </div>
    <ul class= "nav nav-tabs tab-horizontal">
      <% connections.each_with_index do |connection, index| %>
        <% if index == 0 %>
          <li class="active">
        <% else %>
          <li>
        <% end %>
          <a href="#connection-<%=connection.id%>" data-toggle="tab" class="inbox_chat">
            <div class="chat_img">
              <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
            </div>
            <div class="chat_ib">
              <h5><%= connection.mentee.user.first_name %> <%= connection.mentee.user.last_name %></h5>
            </div>
            <% if connection.status == "Pending" %>
              <div class="chat-notification">
                <div class="notification"></div>
              </div>
            <% end %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="tab-content messages-container">
  <% connections.each_with_index do |connection, index| %>
    <% if index == 0 %>
      <div id="connection-<%=connection.id%>" class="tab-pane active">
    <% else %>
      <div id="connection-<%=connection.id%>" class="tab-pane">
    <% end %>

  <div class="new-mentor-request-<%=connection.id%>">
    <% if connection.status == "Pending" %>
      <div class="flash flash-success">
           <span> You have a new connection request from <%= connection.mentee.user.first_name %></span>
           <div class="accept-request">
            <%= link_to "Accept Invite", change_status_path(connection), method: :patch, remote: true %>
          </div>
      </div>
    <% end %>
  </div>

      <div class="message-box" data-message-id=<%= connection.id %>>
        <% connection.messages.each do |message| %>
        <div class="one-message-box">
          <% if message.user == current_user %>
            <div class="right-message">
              <p class="message-content"><%= message.content %></p>
              <p class="message-time"><%= message.created_at %></p>
            </div>
          <% else %>
            <div class="left-message">
              <p class="message-content"><%= message.content %></p>
              <p class="message-time"><%= message.created_at %></p>
            </div>
          <% end %>
        </div>
        <% end  %>
      </div>
      <div class="new-message-box">
        <%= simple_form_for([connection, @message], remote: true) do |f| %>
          <%= f.input :content, label: false, placeholder: "Type your message here", as: :text, autofocus: true, input_html: {style: 'width: 100%; font-size: 20px', rows: 4, class: 'response-project'} %>
          <%#= f.input :is_read, as: :hidden, value: "go" %>
          <%#= f.input :connection, as: :hidden %>
          <%= f.submit "Reply", class: "new-message-btn" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

</div>
