<div class="container">
  <div class="body-container">
    <h1>Super talented <span style="color: #fc407c">me</span>ntors</h1>

    <div class="search-bar-container">
      <div class="search-bar">
        <%= form_tag(mentors_path, method: 'get') do %>
        <% professional_interests = [] %>
        <% @pro_interests.each do |professionalinterest|  %>
          <% professional_interests << professionalinterest.name  %>
        <%end  %>
        <%= select_tag :professional_interests, options_for_select(professional_interests.push("All"), :selected=>params[:professional_interests]), {prompt: "professional interest", class: 'interest_select'} %>
        <% personal_interests = [] %>
        <% @personal_interests.each do |personalinterest|  %>
          <% personal_interests << personalinterest.name  %>
        <%end  %>
        <%= select_tag :personal_interests, options_for_select(personal_interests.push("All"), :selected=>params[:personal_interests]), {prompt: " personal interest", class: 'interest_select'} %>
        <%= submit_tag 'Search', class:"search-btn"%>
        <% end %>
      </div>
    </div>

    <div class="header-browse">
      <% if params[:professional_interests].present? || params[:personal_interests].present? %>
        <h2>Filtered Profiles</h2>
      <% elsif @current_user.present? %>
        <h2>Recommended Profiles</h2>
        <p>It’s time to kick it up a gear. We've found mentors who share common interests with you. Start a conversation today. </p>
      <% else %>
        <h2>All Profiles</h2>
      <% end %>
    </div>

    <div class="container-margin">
        <div class="row">
          <% @profiles.each do |profile| %>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="card-browse">
                <div class="card-browse-top">
                  <img src='https://cdn.lynda.com/authors/12077467_200x200_thumb.jpg' class="card-browse-user"/>
                  <div class="card-browse-infos">
                    <h2><%= profile.user.first_name %> <%= profile.user.last_name %></h2>
                    <h4><%= profile.user.job_title %> at <%= profile.user.company %></h4>
                  </div>
                </div>
                <div class="card-browse-btm">
                  <% @pro_interests.each do |interest| %>
                    <div class="interest-tag">
                      <p><%= interest.name %></p>
                    </div>
                  <% end %>
                </div>
                <div class="browse-connect-btn">
                  <p>
                    <%= link_to "View profile", profile_path(profile.id), class:"btn browse-connect-btn" %>
                  </p>
                </div>
              </div>
            </div>
          <% end  %>
        </div>
      </div>
    </div>
  </div>
</div>
