<h1></h1>

<div class="main-container">
  <div class="card-container">
    <div class="search-bar">
      <p>Filter=</p>
      <%= form_tag(mentors_path, method: 'get') do %>
      <% professional_interests = ["All", "Sales", "Marketing", "Computer Programming", "Linux", "MacOS", "Windows", "Operations", "Devops", "Product Management", "Project Management", "Artificial Inteligence", "Data Science", "IoT"] %>
      <%= select_tag :professional_interests, options_for_select(professional_interests)%>
      <% personal_interests = ["All", "Work-life balance", "Family", "Reading", "Volunteer work", "Sports & activities", "Cooking", "Arts & music"] %>
      <%= select_tag :personal_interests, options_for_select(personal_interests)%>
      <%= submit_tag 'Search'%>
      <% end %>
    </div>
  <div class="container-margin">
    <div class="row">
      <% @recommended_profiles.each do |profile| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <%= link_to profile_path(profile.id), class: "card-link" do %>
            <div class="card-trip">
              <div class="card-trip-infos">
                <div>
                  <h2><%= profile.user.first_name %> <%= profile.user.last_name %></h2>
                  <p><%= profile.user.job_title %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  </div>

</div>
