<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<div class="profile-full-container">
  <h1>Mentor Profile</h1>


<div class="card-mentor-profile">
    <img src='https://cdn.lynda.com/authors/12077467_200x200_thumb.jpg' class="card-mentor-img avatar-bordered"/>
    <div class="card-mentor-info">
      <h3><%= @profile.user.first_name %> <%= @profile.user.last_name %></h3>
      <p><%= @profile.user.job_title %> at <%= @profile.user.company %></p>
    </div>
    <div class="connect-btn ">
      <% if Connection.where(mentor: @profile, mentee: @mentee_profile).first.present?%>
        <p>Request pending</p>
      <% else  %>
        <%= link_to "Connect", new_message_path, class:"btn btn-default"%>
      <% end %>
    </div>
  </div>

  <div class="card-mentor-profile-body">
    <div class="card-mentor-header">
      <h4>About me</h4>
    </div>
    <div class="card-mentor-description">
      <p><%= @profile.description %></p>
    </div>
  </div>

    <div class="card-mentor-all-interests">
      <div class="interest">
        <div class="card-mentor-header">
          <h4><strong>Professional Interests</strong></h4>
        </div>
        <% @profile_interests.each do |profile_i| %>
          <% if profile_i.interest.category == "professional" %>
            <div class="card-mt-interest professional-interests">
              <p><%= profile_i.interest.name %></p>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="interest">
        <div class="card-mentor-header">
          <h4><strong>Personal Interests</strong></h4>
        </div>
        <% @profile_interests.each do |profile_i| %>
          <% if profile_i.interest.category == "personal" %>
            <div class="card-mt-interest personal-interests">
              <p><%= profile_i.interest.name %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <!-- <div class="card-mentor-profile-body">
    <div class="card-mentor-header">
      <h4>More details</h4>
    </div>
    <div class="card-more-details">

    </div>
  </div> -->


</div>



