<% connections.each do |connection| %>
  <div class="card-connection">
  <%= link_to profile_path(connection.mentor) do  %>
    <div class="card-connection-profile">
      <div class="image-container">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTq33nn-Cg4QzFVnqOcBWv9Jd3LsGbt3FQ92-JNhDjryHpG9_BSdw">
      </div>
      <div class="card-connection-infos">
        <h2><%= connection.mentee.user.first_name %> <%=connection.mentee.user.last_name %></h2>
        <p><%= connection.mentee.user.job_title%> at <%=connection.mentee.user.company %></p>
      </div>
    </div>
  <% end %>
  <div class="scrolling-container">
    <div class="card-connection-progress">
      <% if connection.goals.present? %>
        <p class="card-connection-btn"><%= link_to "See all Goals",connection_path(connection.id) %></p>
          <% connection.goals.each do |goal| %>
              <div class="circle-goal">
                <% if goal.perc_completed < 50 %>
                  <li><%= goal.description %></li>
                  <div class="progress-circle p<%= goal.perc_completed.to_i %>">
                    <span><%= goal.perc_completed.to_i %>%</span>
                    <div class="left-half-clipper">
                  <div class="first50-bar"></div>
                  <div class="value-bar"></div>
                    </div>
                  </div>
                <% else  %>
                  <li><%= goal.description %></li>
                  <div class="progress-circle over50 p<%= goal.perc_completed.to_i %>">
                    <span><%= goal.perc_completed.to_i %>%</span>
                    <div class="left-half-clipper">
                  <div class="first50-bar"></div>
                  <div class="value-bar"></div>
                    </div>
                  </div>
              </div>
                <% end  %>
            <% else %>
              <div class="progress progress-<%= goal.id %> hidden" >
                <div class="progress-bar progress-bar-success" role="progressbar" style="width: <%= goal.perc_completed %>%">
                </div>
              </div>
          <% end %>
      <% else %>
        <p class="card-connection-btn"><%= link_to "Start setting Goals",connection_path(connection.id)%></p>
      <% end %>
      </div>
    </div>
  </div>
<% end %>






