<% connections.each do |connection| %>
  <div class="card-connection">
  <%= link_to profile_path(connection.mentee) do  %>
    <div class="card-connection-profile">
      <div class="image-container">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
      </div>
      <div class="card-connection-infos">
        <h2><%= connection.mentor.user.first_name %> <%=connection.mentor.user.last_name %></h2>
        <p><%= connection.mentor.user.job_title%> at <%=connection.mentor.user.company %></p>
      </div>
    </div>
  <% end  %>
    <div class="card-connection-progress">
      <!-- <h1>Goal progress</h1> -->
      <div class="progress-card">

      <% if connection.goals.present? %>
        <p class="card-connection-btn"><%= link_to "See all Goals",connection_path(connection.id) %></p>
      <% else %>
        <p class="card-connection-btn"><%= link_to "Start setting Goals",connection_path(connection.id) %></p>
      <% end %>
      </div>
    </div>
  </div>
<% end %>
