<% connections.each do |connection| %>
  <div class="card-connection">
  <%= link_to profile_path(connection.mentor) do  %>
    <div class="card-connection-profile">
      <div class="image-container">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTq33nn-Cg4QzFVnqOcBWv9Jd3LsGbt3FQ92-JNhDjryHpG9_BSdw">
      </div>
      <div class="card-connection-infos">
        <h2><%= connection.mentee.user.first_name %> <%=connection.mentee.user.last_name %></h2>
        <p><%= connection.mentee.user.job_title%> at <%=connection.mentee.user.company %></p>
      </div>
    </div>
  <% end %>
    <div class="card-connection-progress">
      <!-- <h2>Goal progress</h2> -->
      <div class="progress-card">

      </div>
      <div class="progress-card">
        <%#connection.goals.each do |goal| %>
      <% if connection.goals.present? %>
        <p class="card-connection-btn"><%= link_to "See all Goals",connection_path(connection.id) %></p>
      <% else %>
        <p class="card-connection-btn"><%= link_to "Start setting Goals",connection_path(connection.id) %></p>
      <% end %>
       </div>
    </div>
  </div>
<% end %>
