<% connections.each do |connection| %>
  <div class="card-connection">
  <%= link_to profile_path(connection.mentee) do  %>
    <div class="card-connection-profile">
      <div class="image-container">
        <img src="https://cdn.lynda.com/authors/12077467_200x200_thumb.jpg">
      </div>
      <div class="card-connection-infos">
        <h2><%= connection.mentor.user.first_name %> <%=connection.mentor.user.last_name %></h2>
        <p><%= connection.mentor.user.job_title%> at <%=connection.mentor.user.company %></p>
      </div>
    </div>
  <% end  %>


  <div class="scrolling-container">
      <div class="card-connection-progress">
        <div class="progress-header">
          <h4>Goal summary</h4>
        </div>
        <% if connection.goals.present? %>
          <div id="goal-container">
            <% connection.goals.each do |goal| %>
              <div class="circle-goal">
                  <% if goal.perc_completed < 50 %>
                    <p><%= goal.description %></p>
                    <div class="progress-circle p<%= goal.perc_completed.to_i %>">
                      <span><%= goal.perc_completed.to_i %>%</span>
                      <div class="left-half-clipper">
                    <div class="first50-bar"></div>
                    <div class="value-bar"></div>
                      </div>
                    </div>
                  <% else  %>
                    <p><%= goal.description %></p>
                    <div class="progress-circle over50 p<%= goal.perc_completed.to_i %>">
                      <span><%= goal.perc_completed.to_i %>%</span>
                      <div class="left-half-clipper">
                    <div class="first50-bar"></div>
                    <div class="value-bar"></div>
                      </div>
                    </div>
                  <% end  %>
                </div>
            <% end %>
          </div>
          <%= link_to 'See all goals', connection_path(connection.id), class: 'btn btn-default see-goal-btn'%>
        <% else %>
          <div class="goal-container">
            <p>Oops! Looks like you have not set any goals yet. Click below to start your goal path.</p>
          </div>
          <%= link_to 'Start setting Goals!', connection_path(connection.id), class: 'btn btn-default start-goal-btn'%>
        <% end %>
        </div>
      </div>
    </div>


  <% end %>

