<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">

    <div class="form-login">
     <h2>Sign up</h2>

     <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
     <%= f.error_notification %>

     <div class="form-inputs">
      <%= f.input :first_name,
                  required: true,
                  autofocus: true,
                  placeholder: "Michael",
                  input_html: { autocomplete: "first_name" }%>
      <%= f.input :last_name,
                  required: true,
                  placeholder: "Shawn",
                  autofocus: true,
                  input_html: { autocomplete: "last_name" }%>
      <%= f.input :company,
                  required: true,
                  autofocus: true,
                  placeholder: "Apple Inc.",
                  input_html: { autocomplete: "company" }%>
      <%= f.input :job_title,
                  required: true,
                  autofocus: true,
                  placeholder: "Software Developer",
                  input_html: { autocomplete: "job_title" }%>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  placeholder: "mike@abc.com",
                  input_html: { autocomplete: "email", rows: 10 }%>
      <%= f.input :password,
                  required: true,
                  placeholder: "*********",
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  placeholder: "*********",
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :photo,
                  required: true %>
     </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
    </div>

    <% end %>

    <%= render "devise/shared/links" %>
    </div>
    </div>
  </div>
</div>



