<div class="home-title">
  <div class="head" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'womenmentorship.jpg' %>)">
    <div class=form-text>
      <div class="company-text">
        <h1>Goal centric platform which brings mentees and mentors together</h1>
      </div>
      <div class=home-form>
        <%= link_to "View profile", mentors_path, class:"btn btn-default btn-home" %>
      </div>
    </div>
  </div>
</div>
<div class="home-content">
  <div class="home-text">
    <div class="Text-body">
      <h1>Advance through your career through mentorship</h1>
      <br>
      <p>
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
      </p>
      <br>
      <p>
        "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
      </p>
    </div>
  </div>
  <div class="mentorship-instruction">
    <div class="text-center">
      <h2>Find your mentor</h2>
    </div>
    <div class="row">
      <div class="col-md-4 col-xs-6">
        <%= image_tag 'magnifyingglass.png', class: 'instruction-img' %>
        <div class=text-center>
          <p><strong>Find your mentor</strong></p>
          <p>Filter your search to find mentors specific to your needs</p>
        </div>
      </div>
      <div class="col-md-4 col-xs-6">
        <%= image_tag 'chat.png', class: 'instruction-img' %>
        <div class="text-center">
          <p><strong>Chat with mentors</strong></p>
          <p> Message your mentors to talk about your goals and why do you want to be their mentee</p>
        </div>
      </div>
      <div class="col-md-4 col-xs-6">
        <%= image_tag 'checklist.png', class: 'instruction-img' %>
        <div class="text-center">
          <p><strong>Track your goals</strong></p>
          <p>After you've connected, go through your connections page and track or add to your goals and milestones.</p>
        </div>
      </div>
    </div>
  </div>
</div>
